#content { 
    max-width: 1600px; 
    margin: 0 auto;
    }

nav a { 
    text-align: center;
    color: #FF5733;
    text-align: center;
    padding: 35px;
    }

#hero-msg h1 { 
    text-align: center;
    }

#hero-msg h4 { 
    text-align: center;
    }

.button-box { 
    text-align: center;
    }

main section { 
    text-align: center;
    }

#background {
    height: 725px;
    background-color: blue;
    padding-bottom: 15px;
    padding-top: 15px;
    }

body {
    background-color: #fcfbfb; 
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    }

header {
    background-color:rgba(20,30,13, .7);
    }

nav a:hover {
    background-color: black;
    color: #FF5733;
    }

.book {
    background-color: black;
    color: #FF5733;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    }

.join {
    background-color: black;
    color: #FF5733;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    }

.book:hover {
    background-color: black;
    color: #FF5733;
    text-align: center;
    }

.join:hover {
    background-color: black;
    color: #FF5733;
    text-align: center;
    }
        
.msg {
    background-color: black;
    line-height: 1.5em;
    padding: 20px 35px;
    }

footer {
    background-color: black;
    color: #FF5733;
    text-align: center;
    }

.home-title {
    color: #FF5733;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    }

h4 {
    color: #FF5733;
    }

h2 {
    margin: 0;
    }

.msg h2 {
    color: #FF5733;
    }

.msg p {
    color: #FF5733;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
    padding-top: 15px;
    }

.icon {
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.logo {
    width: 80px;
    }

#hero-img  {
    width: 100%;
    }

#logo_link {
    padding-top: 5px;
    }     

footer p {
    font-size: 1.2em;
    text-decoration: none; 
    } 

footer a {
    color: #FF5733;
    text-align: center;
    }
    
footer a:hover {
    color: #FF5733;
    text-decoration: none;
    }

footer {
    padding: 25px 50px;
    margin-top: 200px;
    }

footer .social img {
    padding-top: 15px;
    }

.rivers-card {
    margin: 200px 0;
    }

.camping-card {
    margin: 200px 0;
    }

.rapids-card{
    margin: 200px 0;
    }

.card-img {
    border: 10px solid #d9c2a3;
    }

main section img {
    box-sizing: border-box;
    }