/* Header section */

#content { 
    max-width: 1600px; 
    margin: 0 auto;
    }

header {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 150px auto;
    }    

nav a { 
    text-align: center;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    }
    
nav a:hover {
    background-color: #1CE309;
    color: black;
    }

nav {
    display: flex;
    justify-content: space-around;
    }
    

.home-title {
    color: whitesmoke;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 2em;
    margin-top: 10px;
    }

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.logo {
    width: 100px;
    margin-top: 5px;
    }
    
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    }

/* Body section */

main section { 
    text-align: center;
    }

main section img {
    box-sizing: border-box;
    }

#background {
    height: 400px;
    background-color: #eace45;
    margin-top: 100px;
    margin-bottom: 50px;
    grid-column: 1/11;
    grid-row: 3/6;
    }

body {
    background-color: #fcfbfb; 
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 22px;
    margin: 0;
    padding: 0;
    }
     
.msg {
    background-color: #122d07;
    padding: 35px;
    grid-column: 8/9;
    grid-row: 3/6;
    height: 200px;
    width: 700px;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: 165px;
    margin-bottom: 50px;
    }

.msg p {
    color: white;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: .8em;
    padding-bottom: 15px;
    }

h2 a {
    color: black;
    text-decoration: none;
    }

.home1 {
    height: 500px;
    width: 500px;
    margin-top: 50px;
    grid-column: 2/6;
    grid-row: 3/6;
    box-shadow: 5px 5px 10px #6f7364;
    }
    
.necklace-card {
    
    grid-column: 5/7;
    grid-row: 6/7;
    height: 350px;
    width: 350px;
    margin: 200px -430px ;
    }

.earrings-card {
 
    grid-column: 6/7;
    grid-row: 6/7;
    height: 350px;
    width: 350px;
    margin: -550px 10px;
    }

.sets-card{
    grid-column: 8/10;
    grid-row: 6/7;
    height: 350px;
    width: 350px;
    margin: 200px 430px ;
    }

.card-img {
    border: 10px solid #FF6817;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 200px;
    }
    
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
    }

/* Footer section */

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    }

footer p {
    font-size: 1.2em;
    text-decoration: none; 
    } 

footer a {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    }
    
footer a:hover {
    color: red;
    text-decoration: none;
    }

footer {
        padding: 25px 50px;
        margin-top: 600px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

footer .social img {
    padding-top: 15px;
    }

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    }


 /* Necklace section */

 .collarcafe-card {
    margin: 100px 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 500px;
    width: 500px;
    }

.collarcafe-text {

    grid-column: 3/4;
    grid-row: 1/2;
    height: 300px;
    width: 500px;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 19px;
    text-align: center;
    margin: 300px -550px;
    }


/* -------- */  

.collarverde-card {
    margin: 700px -590px;
    grid-column: 1/2;
    grid-row: 3/4;
    height: 500px;
    width: 500px;
    }

.collarverde-text{
    margin: -1050px 50px;
    grid-column: 6/8;
    grid-row: 3/4;
    height: 300px;
    width: 500px;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 19px;
    text-align: center;
    }

.buynow {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 18px;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 30px;
    text-indent: 30px;
    }

.buy-box { 
    text-align: center;
    }

.buynow:hover {
    background-color: black;
    color: #FF5733;
    text-align: center;
    } 

 /* Earrings section */

    .areterosas-card {
        margin: 100px 100px;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 500px;
        width: 500px;
        }

    .areterosas-text {
    
        grid-column: 3/4;
        grid-row: 1/2;
        height: 300px;
        width: 500px;
        font-family: "Cormorant Garamond Medium", "Amsterdam One";
        font-size: 19px;
        text-align: center;
        margin: 300px -550px;
        }


/* -------- */  

    .aretescafe-card {
        margin: 700px -590px;
        grid-column: 1/2;
        grid-row: 3/4;
        height: 500px;
        width: 500px;
        }

    .aretescafe-text{
        margin: -1050px 50px;
        grid-column: 6/8;
        grid-row: 3/4;
        height: 300px;
        width: 500px;
        font-family: "Cormorant Garamond Medium", "Amsterdam One";
        font-size: 19px;
        text-align: center;
        }
   
    .buynow {
        background-color: black;
        color: whitesmoke;
        text-align: center;
        font-family: "Cormorant Garamond Medium", "Amsterdam One";
        font-size: 18px;
        border-radius: 20px;
        text-decoration: none;
        padding: 15px 30px;
        text-indent: 30px;
        }

    .buy-box { 
        text-align: center;
        }

    .buynow:hover {
        background-color: black;
        color: #FF5733;
        text-align: center;
        } 




/* Set section */

.setblanco-card {
    margin: 100px 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 500px;
    width: 500px;
    }

.setblanco-text {

    grid-column: 3/4;
    grid-row: 1/2;
    height: 300px;
    width: 500px;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 19px;
    text-align: center;
    margin: 300px -550px;
    }


/* -------- */  

.setcolores-card {
    margin: 700px -590px;
    grid-column: 1/2;
    grid-row: 3/4;
    height: 500px;
    width: 500px;
    }

.setcolores-text{
    margin: -1050px 50px;
    grid-column: 6/8;
    grid-row: 3/4;
    height: 300px;
    width: 500px;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 19px;
    text-align: center;
    }

.buynow {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-family: "Cormorant Garamond Medium", "Amsterdam One";
    font-size: 18px;
    border-radius: 20px;
    text-decoration: none;
    padding: 15px 30px;
    text-indent: 30px;
    }

.buy-box { 
    text-align: center;
    }

.buynow:hover {
    background-color: black;
    color: #FF5733;
    text-align: center;
    } 





















  /* contact us form */  

        form {
            /* Center the form on the page */
            margin: 0 auto;
            width: 400px;
            /* Form outline */
            padding: 1em;
            border: 1px solid #ccc;
            border-radius: 1em;
          }
          
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
          
          form li + li {
            margin-top: 1em;
          }
          
          label {
            /* Uniform size & alignment */
            display: inline-block;
            width: 90px;
            text-align: right;
          }
          
          input,
          textarea {
            /* To make sure that all text fields have the same font settings
               By default, textareas have a monospace font */
            font: 1em sans-serif;
          
            /* Uniform text field size */
            width: 300px;
            box-sizing: border-box;
          
            /* Match form field borders */
            border: 1px solid #999;
          }
          
          input:focus,
          textarea:focus {
            /* Additional highlight for focused elements */
            border-color: #000;
          }
          
          textarea {
            /* Align multiline text fields with their labels */
            vertical-align: top;
          
            /* Provide space to type some text */
            height: 5em;
          }
          
          .button {
            /* Align buttons with the text fields */
            padding-left: 90px; /* same size as the label elements */
          }
          
          button {
            /* This extra margin represent roughly the same space as the space
               between the labels and their text fields */
            margin-left: 0.5em;
          }

          #feedback {
            background-color: antiquewhite;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: .5em;
            /* make this element invisible until we are ready for it */
            display: none;      
        }
        .moveDown {
            margin-top: 3em;
        }